.element__like-button_active {
  margin: 0;
  width: 22px;
  height: 19px;
  background: url("../../../../images/elements-like-active.svg") #fff center no-repeat;
  background-size: 100% 100%;
  border: none;
}
