.popup__view-image {
  margin: 0;
  padding: 0;
  object-fit: cover;
  max-width: 75vw;
  max-height: 75vh;
  display: block;
}

@media screen and (max-width: 1023px) {
  .popup__view-image {
    width: 240px;
  }
}
